<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/style/Cart.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>Giỏ hàng</h1>
            <div class="cart-item">
                <img src="/image/ip15.png" />
                <div class="info">
                    <h3>iphone 15</h3>
                    <p>Giá: <strong>30,000,000 VND</strong></p>
                </div>
                <div class="controls">
                    <span class="line-total" id="total-product1">30,000,000 VND</span>
                    <button>−</button>
                    <span id="quantity-product1">1</span>
                    <button>+</button>

                </div>
            </div>
            <div class="summary">
                <h2>Tổng cộng: <span id="grand-total">30,000,000 VND</span></h2>
                <button onclick="location.href='/Shop/ThanhToan'" >Đặt hàng</button>
            </div>
        </div>
        <div id="overlay" style="display: none;"></div>
        <div id="order-modal" class="modal">
            <div class="modal-content">
                <h2>Chi tiết đơn hàng</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody id="order-table-body">
                    </tbody>
                </table>
                <button>Quay lại</button>
                <button >Thanh Toán</button>
            </div>
        </div>
    </section>
    <div>
        @RenderBody()
    </div>
</body>
</html>
