<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/style/TrangChu.css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    <section class="header-container mainFrame">
        <div class="header-items">
            <div class="item">
                <a href="/Shop/TrangChu"><img src="/image/logo.png" class="logo" alt="Logo"></a>
            </div>
            <div class="item" id="search-bar">
                <input type="text" placeholder="Search...">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="item" id="cart">
                <a href="/Shop/GioHang"><img src="/image/cart.png" alt="Cart"></a>
                <span class="cart-count">1</span>
            </div>
            <a href="/Shop/Login" style="text-decoration:none">
                <div class="item" id="login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Đăng nhập</span>
                </div>
            </a>
        </div>
    </section>

    <section class="product-categories-container">
        <div class="product-categories">
            <div id="phone">
                <a href="/Shop/Phone"><img src="/image/phone.png" /></a>
            </div>
            <div id="laptop">
                <a href="/Shop/Laptop"><img src="/image/laptop.png" /></a>
            </div>
            <div id="headphone">
                <a href="/Shop/Headphone"><img src="/image/accessories.png" /></a>
            </div>
            <div id="smartwatch">
                <a href="/Shop/Smartwatch"><img src="/image/smartwatch.png" /></a>
            </div>
        </div>
    </section>



    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-container">
            
            <div class="footer-contact">
                <h3>Liên hệ</h3>
                <p>Bạn cần hỗ trợ?</p>
                <p>📞 0849 976 638</p>
                <p>🏠 39/11 Nguyễn Ngọc Cung, Phường Phú Định, Quận 8, TP.HCM</p>
                <p>✉️ soulertech@gmail.com</p>
            </div>

            
            <div class="footer-links">
                <h3>Liên kết nhanh</h3>
                <ul>
                    <li><a href="/Shop/TrangChu">Trang chủ</a></li>
                    <li><a href="/Shop/Phone">Điện thoại</a></li>
                    <li><a href="/Shop/Laptop">Laptop</a></li>
                    <li><a href="/Shop/Smartwatch">SmartWatch</a></li>
                    <li><a href="/Shop/Headphone">Tai nghe</a></li>
                    <li><a href="/Shop/LienHe">Liên hệ</a></li>
                </ul>
            </div>

           
            <div class="footer-social">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>

        
        <div class="footer-bottom">
            <p>© 2025 Souler Tech. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
