
@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Views/Shared/_ChiTietSanPham.cshtml";
}
<link rel="stylesheet" href="~/Content/style/ChiTietSP.css" />
<section class="product-detail">
    <div class="product-image">
        <img src="~/image/ip15.png" alt="Iphone 15">
    </div>
    <div class="product-info">
        <p class="product-name">Iphone 15 128GB | Chính hãng</p>
        <div class="rating">★★★★☆</div>
        <div class="product-versions">
            <h4>Phiên bản</h4>
            <ul>
                <li>1TB</li>
                <li>512GB</li>
                <li>256GB</li>
                <li>128GB</li>
            </ul>
        </div>
       
        <div class="btn-container">
            <a href="/Shop/GioHang" class="btn-add-cart">🛒 Thêm vào giỏ hàng</a>
            <a href="/Shop/ThanhToan" class="btn-buy-now">⚡ Mua ngay</a>
        </div>
        
    </div>
</section>