
@{
    ViewBag.Title = "Laptop";
    Layout = "~/Views/Shared/_TrangChu.cshtml";
}

<link href="~/Content/style/Phone.css" rel="stylesheet" />

<section class="product-list">

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>
    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>

    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/laptopgaming.png" alt="laptop" />
        </a>
        <p class="product-title">Laptop gaming Nitro 5</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart" onclick="location.href='/Shop/GioHang'">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>
</section>

