
@{
    ViewBag.Title = "Phone";
    Layout = "~/Views/Shared/_TrangChu.cshtml";
}
<link href="~/Content/style/Phone.css" rel="stylesheet" />

<section class="product-list">
   
    <div class="product-card">
        <a href="ChiTietSP">
            <img src="~/image/ip15.png" alt="Iphone 15" />
        </a>
        <p class="product-title">Iphone 15 256GB chính hãng</p>
        <p class="product-price">30.000.000₫</p>
        <div class="rating">
            ★★★★☆
        </div>
        <div class="actions">
            <button class="btn-cart">🛒 Thêm vào giỏ</button>
            <button class="btn-like">♡</button>
        </div>
    </div>
   
</section>



