
@{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_TrangChu.cshtml";
}
<link rel="stylesheet" href="~/Content/style/Feature.css" />
<section class="hero-banner">
    <img src="/image/banner.jpg">
    <div class="banner-text">
        <h1>iPhone 15 Series</h1>
        <p>Giảm ngay 3 triệu - Số lượng có hạn!</p>
        <a href="/Shop/Phone" class="btn-banner">Mua ngay</a>
    </div>
</section>

<section class="flash-sale">
    <h2>🔥 Flash Sale hôm nay</h2>
    <div class="flash-sale-timer" id="countdown">
        Kết thúc trong: 00:00:00
    </div>

    <div class="flash-sale-products">
        <div class="flash-product-card">
            <img src="~/image/ip15.png" alt="Iphone 15">
            <p class="flash-title">iPhone 15 Pro 128GB</p>
            <p class="flash-old-price">35.000.000₫</p>
            <p class="flash-price">28.000.000₫</p>
            <button class="btn-cart">🛒 Mua ngay</button>
        </div>

        <div class="flash-product-card">
            <img src="~/image/laptopgaming.png" alt="Laptop Gaming">
            <p class="flash-title">Laptop Gaming MSI</p>
            <p class="flash-old-price">25.000.000₫</p>
            <p class="flash-price">19.990.000₫</p>
            <button class="btn-cart">🛒 Mua ngay</button>
        </div>

        <div class="flash-product-card">
            <img src="~/image/headphonesony.png" alt="Tai nghe">
            <p class="flash-title">Tai nghe Sony WH-1000XM4</p>
            <p class="flash-old-price">8.000.000₫</p>
            <p class="flash-price">5.490.000₫</p>
            <button class="btn-cart">🛒 Mua ngay</button>
        </div>
    </div>
</section>

<section>
    <h1 class="weekend-sale-title">Weekend-Sale</h1>
    <div class="weekend-sale">
        <div class="hot-trend">
            <img src="~/image/ipadsale.png" />
            <div class="hot-trend-text">
                <h2>iPad Pro M2</h2>
                <p>Giảm ngay 2 triệu - Chỉ trong hôm nay!</p>
                <a href="/Shop/Tablet" class="btn-hot-trend">Mua ngay</a>
            </div>
        </div>
        <div class="best-seller-sale">
            <div><p class="weekend-sale-subtitle">San ngay san pham best seller dang giam gia</p></div>
            <div class="best-seller-sale-container">
                <div class="flash-product-card">
                    <img src="~/image/ipadmini.png" alt="ipad mini">
                    <p class="flash-title">Ipad Mini</p>
                    <p class="flash-old-price">25.000.000₫</p>
                    <p class="flash-price">19.990.000₫</p>
                    <button class="btn-cart">🛒 Mua ngay</button>
                </div>
                <div class="flash-product-card">
                    <img src="~/image/ipadmini.png" alt="ipad mini">
                    <p class="flash-title">Ipad Mini</p>
                    <p class="flash-old-price">25.000.000₫</p>
                    <p class="flash-price">19.990.000₫</p>
                    <button class="btn-cart">🛒 Mua ngay</button>
                </div>
                <div class="flash-product-card">
                    <img src="~/image/ipadmini.png" alt="ipad mini">
                    <p class="flash-title">Ipad Mini</p>
                    <p class="flash-old-price">25.000.000₫</p>
                    <p class="flash-price">19.990.000₫</p>
                    <button class="btn-cart">🛒 Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</section>



